<div class="grid grid-pad">
  <div class="flip-box col-1-2" *ngFor="let p of poke">
    <div class="text-center card-header">
      <h4><em>{{p.id}}</em></h4>
    </div>
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <span><img [src]="p.image"></span>
        <br>
        <h6><label>Name :</label> <em> {{p.name.english}}</em></h6> 
      </div>
      <div class="flip-box-back">
        <div class="pokeDetail">
          <h4>Pokemon details: </h4>
          <label>Type :</label> <em> {{p.type}}</em><br>
          <label>Attack :</label> <em> {{p.base.Attack}}</em><br>
          <label>Defense :</label> <em> {{p.base.Defense}}</em><br>
          <label>HP :</label> <em> {{p.base.HP}}</em>
        </div>
      </div>
    </div>
  </div>
</div>
