.wrapper{
  display: block;
  margin: auto;
  width: 90%;
}


h3{
  padding: 20px 0px 20px 0px;
  font-family: cursive;
  font-style: italic;
  font-weight: 500;
}

li > a {
  color: black;
}

th{
  font-size: 20px
}

td{
  font-size: 17px;
}

#poke-img{
  width: 85px;
  height: 85px;
}

table{
  box-shadow: 3px 5px rgb(109, 100, 100);
}

nav> ul>li{
  border: 1px solid black;
}
