<div class="wrapper" *ngIf="filterList || maxPages">
  <h3 style="text-align: center">List Of Pokemon's</h3>
  <div style="overflow-x:auto;">
    <table class="table table-hover table-dark " @table>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let p of filterList" @items >
        <th scope="row">{{p.id}}</th>
        <td>
          <img id="poke-img" [src]="p.image">
        </td>
        <td>{{p.name.english}}</td>
        <td>{{p.type[0]}}<br/>{{p.type[1]}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-lg justify-content-end">
        <li class="page-item" [ngClass]="isPreviousDisable ? 'disabled' : 'null'">
            <a class="page-link" aria-label="Previous" (click)="onPrevious()" >
              <span >&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      <li class="page-item" *ngFor="let page of pages;" [ngClass]="page == currentPage ? 'active' : 'null'">
        <a class="page-link" (click)="pokeList($event.target.innerText)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="isNextDisable ? 'disabled' : 'null'">
          <a class="page-link" aria-label="Next" (click)="onNext()">
            <span >&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
      </li>
    </ul>
  </nav>
</div>